AngularJsWorkshop/AngularJs.Host/AngularJs.Host.csproj.user
AngularJsWorkshop/AngularJs.Host/bin/AngularJs.Host.pdb
AngularJsWorkshop/AngularJs.Host/obj/Debug/AngularJs.Host.csprojResolveAssemblyReference.cache
AngularJsWorkshop/AngularJsWorkshop.v12.suo
